<ion-view view-title="">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="bookMeeting()">确定预约</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div>
      <h4>{{meeting.subject}}</h4>

      <!--<p><img ng-src="{{meeting.seller.icon}}" style="width: 16px; height: 16px"> {{meeting.seller.name}} ({{meeting.seller.title}})</p>-->

      <!--<p>{{meeting.description}}</p>-->

      <!--<p>价钱：${{meeting.price}}</p>-->

      <!--<p>时间：{{meeting.selection[0].time}} - {{meeting.selection[0].duration}}</p>-->

      <!--<p>地点：{{meeting.selection[0].address}} - {{meeting.selection[0].gps}}</p>-->
    </div>
  </ion-content>
</ion-view>
